/* section get started with whirl */
.section_get_started {
   margin-bottom: 8%;
}

.get_started_in {
   background-color: #E6F7FF;
   padding-top: 5%;
   padding-bottom: 5%;
   padding-left: 4%;

}

.get_started_texts {
   height: 258px;
   width: auto;
}

.head_text_get_started {
   height: 51px;
   width: 448px;
   font-family: 'Fraunces';
   font-size: 42px;
   line-height: 50px;
   letter-spacing: 0.20000000298023224px;
   text-align: left;
}

.under_head_text_get_started {
   height: 54px;
   width: 482px;

}

.under_head_text_get_started p {
   width: 481px;
   top: 3px;
   font-family: 'Inter';
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 0.2px;
   text-align: left;

}

.book_a_demo_get_started {
   height: 43px;
   width: 172px;
   margin-top: 6%;
   border: none;
   border-radius: 0px;
   background-color: #0070A0;
   font-family: 'Inter';
   font-size: 17px;
   line-height: 27px;
   letter-spacing: 0.2px;
   color: #FFFFFF;


}

.book_a_demo_get_started:hover {
   background-color: #E6F7FF;
   color: #0070A0;
   text-transform: uppercase;
   font-weight: bolder;
   font-size: 15px;
}

.free_trial {
   height: 21px;
   width: 178px;
   left: 0px;
   margin-top: 6%;
}

.free_trial_childs a {
   height: 21px;
   width: 157px;
   margin-left: 1%;
   top: 0px;
   font-family: 'Inter';
   font-size: 11.5px;
   line-height: 21px;
   letter-spacing: 0.2px;
   text-align: left;
   margin-top: -1px;
   color: #626A72;
   text-decoration: none;
}

.free_trial_2nd_childs {
   width: 220px;
   left: 160px;
   top: 8.015625px;
   border-radius: 0px;

}

.free_trial_2nd_childs a:hover {
   width: 235px;

}

.free_trial_childs a:hover {
   text-decoration: underline;
   color: #0070A0;
   font-weight: bolder;
   font-size: 12px;

}


/* section_build_by */

.section_build_by {
   margin-top: 8%;
   margin-bottom: 5%;
}

.buid_by_in {
   left: 50px;
}

.logo_whirl svg:hover {
   transform: scale(1.03);
   transition: .3s ease-in-out;
}

.nikolai_bain {
   width: 243px;
   margin-top: 6%;
   line-height: 10px;
}

.nikolai_bain p {
   font-family: 'Inter';
   font-size: 15px;
   letter-spacing: 0.2px;
   text-align: left;
}

.nikolai_color {
   color: #0070A0;
   text-decoration: none;
}

.nikolai_color:hover {
   color: darkred;
   text-decoration: underline;
}

.tableFooter {
   width: 210px;
   left: 448.796875px;
   line-height: 25px;
}

.head_table {
   height: 24px;
   width: 28px;
   font-family: 'Inter';
   font-size: 15px;
   line-height: 24px;
   letter-spacing: 0.2px;
   text-align: left;
   color: black;
}

.tableFooter a {
   height: 20px;
   width: 132px;
   top: 160.015625px;
   font-family: 'Inter';
   font-size: 14px;
   letter-spacing: 0.2px;
   text-align: left;
   text-decoration: none;
   color: #626A72;

}

.tableFooter a:hover {
   font-weight: bolder;
}

.newsletter_under_head {
   height: 72px;
   width: 216px;
   top: 36.015625px;

}

.newsletter_under_head p {
   height: 72px;
   width: 200px;
   left: 0px;
   top: 2px;
   border-radius: nullpx;
   font-family: 'Inter';
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.2px;
   text-align: left;
   color: #1F1F1F;

}

.your_email {
   height: 42px;
   width: 200px;
   margin-top: 10%;
   border-bottom: 1px solid;
   border-color: #C2CDD8;
}


.input_email {
   height: 40px;
   border: none;
   width: 173px;
   padding-left: 5%;
}

.scroll_top{
   position: absolute;
   right: 0;
   margin-top: 2%;
   margin-right: 10%;
   cursor: pointer;
   opacity: 70%;

}

.scroll_top:hover{
   opacity: 100%;
}

.hr_sizes {
   margin-top: 10%;
   height: 1px;
   background: #DEE5EB;
}

.streamline {
   margin-top: 50px;
}

.whirl_2022 {
   height: 19px;
   width: 440px;
}

.networks:hover {
   transform: scale(1.1);
   fill: currentColor;
}